<main>
    <section>
        <h1>{{title}}</h1>
        <p>{{pTag}}</p>
    <form action="">
        <input ng-model="searchTodos" type="text" placeholder="Filter your to-dos">
    </form>
<ng-container class="todolist">
    <div *ngFor="let todo of todos; let i = index" ng-repeat="todo in todos| filter: searchTodos">
        {{i+1}}. 
        <button (click) ="completedTask(todo)" mat-stroked-button color="primary" *ngIf="!todo.completed">Complete</button>
        <span [ngClass] = "{completed: todo.completed}">{{todo.task}}</span>
        <button (click)="removeTask(i)" class="deleteButton" style ="float: right">X</button>
    </div>
</ng-container>
<div>
        <input [(ngModel)]="newTask" type="text" placeholder="Add your to-do">
        <button (click)="addTask(newTask)" class="addButton">Add</button>
</div>
<div [hidden]="!newTask">
        Typing: {{ newTask }}
    </div> 
    </section>
</main>